<html>

<head>
	<%- include('../partials/head.ejs'); %>
	<% function ifYesterday(date) { 
		var yesterday = new Date();
		yesterday.setDate(yesterday.getDate() - 1);
		return date.toDateString() === yesterday.toDateString();
	};
	function toTitleCase(str) {
		return str.replace(/\b\w+/g, function(txt) {
			return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
		});
	}; %>
</head>

<body>
	<%- include('../partials/header.ejs'); %>
	<div class="article-i">
		<div class="split">
			<div class="left">
				<div class="info">
					<h1><%= article.title %></h1>
					<% if (article.description != null) { %><h3><%= article.description.slice(0, 50) %>...</h3><% } %>
					<h5><%= pageviews %> Views</h5>
					<% if (article.tags != null) { %><p>Tags: <% for (tag of article.tags) { %><a href="<%- vars.domain %>/tags/<%= tag %>">#<%= tag.toLowerCase().replaceAll(" ", "-") %></a> <% } %></p><% } %>
				</div>
				<div class="author">
					<img src="<%- vars.asset_prefix %><%= cms.siteDetails[0].favicon.path %>" />
					<div class="info">
						<h4><% if ((article.author != "") && (article.author != null)) { %><%= article.author %><% } else { %><a href="<%- vars.domain %>"><%= cms.siteDetails[0].title %></a> Writers, <a href="<%- vars.domain %>"><%= cms.siteDetails[0].title %></a><% } %></h4>
						<h5>Published <% var date = new Date(article.date); if (date.isToday()) { %>today<% } else if (ifYesterday(date)) { %>yesterday<% } else { %><%= date.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %><% } %></h5>
						<% if ((article._created != article._modified) && (date < (new Date(article._modified * 1000)))) { %><h5>Edited <% var date = new Date(article._modified * 1000); if (date.isToday()) { %>today<% } else if (ifYesterday(date)) { %>yesterday<% } else { %><%= date.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %></h5><% } } %>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="icons">
					<i class="fas fa-link" onClick="const el = document.createElement('textarea'); el.value = window.location.href; el.setAttribute('readonly', ''); el.style.position = 'absolute'; el.style.left = '-9999px'; document.body.appendChild(el); const selected = document.getSelection().rangeCount > 0 ? document.getSelection().getRangeAt(0) : false; el.select(); document.execCommand('copy'); document.body.removeChild(el); if (selected) { document.getSelection().removeAllRanges(); document.getSelection().addRange(selected); } alert('Link copied!');"></i>
				</div>
			</div>
		</div>
		<% if (article.images[0] != null) { %>
		<div class="images">
			<% for (image of article.images) { if (image._id === article.images[0]._id) { %>
			<a class="image" href="<%- vars.asset_prefix %><%= image.path %>" data-lightbox="<%= image._id %>"<% if (image.description != "") { %> data-title="<%= image.description %>"<% } %>><img src="<%- vars.asset_prefix %><%= image.path %>" /><% if (image.description != "") { %><h2><%= image.description %></h2><% } %></a>
			<% } else { %>
			<a class="image" style="background-image: url('<%- vars.asset_prefix %><%= image.path %>');<% if ((image.height / image.width) >= 1.25) { %> width: <%= image.width %>px;<% } %>" href="<%- vars.asset_prefix %><%= image.path %>" data-lightbox="<%= image._id %>"<% if (image.description != "") { %> data-title="<%= image.description %>"<% } %>><% if (image.description != "") { %><h2><%= image.description %></h2><% } %></a>
			<% } } %>
		</div>
		<% } %>
		<style>.article-i .content:before { content: '(<% if ((article.author != "") && (article.author != null)) { %><%- article.author %><% } else { %><%= cms.siteDetails[0].title %> Writers<% } %>) — ' }</style>
		<div class="content"><%- article.content.replaceAll('/.spaces/', vars.asset_url) %></div>
		<div class="comments">
			<h1>Comments</h1>
			<form action="" method="post" class="new">
				<h3>New comment:</h3>
				<input name="id" value="<%= article._id %>" hidden>
				<input name="name" type="text" placeholder="Your Name">
				<input name="email" type="email" placeholder="Your Email">
				<input name="content" type="text" placeholder="Your Comment">
				<button>Post Comment</button>
			</form>
			<% if (comments.length > 0) { %><hr><% } %>
			<% for (comment of comments.reverse()) { %>
			<div id="<%= comment.id %>" class="comment">
				<h4><%= comment.author_name %>
				<h5><% var date = new Date(comment.date); if (date.isToday()) { %>Today<% } else if (ifYesterday(date)) { %>Yesterday<% } else { %><%= date.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %><% } %></h5>
				<p><%= comment.content %></p>
			</div>
			<% } %>
		</div>
	</div>
	<%- include('../partials/suggested.ejs'); %>
	<%- include('../partials/footer.ejs'); %>
</body>
<%- include('../partials/foot.ejs'); %>

</html>