<html>

<head>
	<%- include('../partials/head.ejs'); %>
	<% function ifYesterday(date) { 
		var yesterday = new Date();
		yesterday.setDate(yesterday.getDate() - 1);
		return date.toDateString() === yesterday.toDateString();
	}; %>
</head>

<body>
	<%- include('../partials/header.ejs'); %>
	<div class="hero" <% if (!cms.newspapers[cms.newspapers.length - 2]) { %> style="grid-template-columns: 100% 0.7fr;" <% } %>>
		<a href="<%- vars.domain %>/newspapers/<%= cms.newspapers[cms.newspapers.length - 1].slug %>" class="newspaper" <% if (cms.newspapers[cms.newspapers.length - 1].image != null) { %> style="background-image: url('<%= vars.asset_prefix %><%= cms.newspapers[cms.newspapers.length - 1].image.path %>')" <% } %>>
			<div>
				<h2><%= cms.newspapers[cms.newspapers.length - 1].title %></h2>
				<h4><% var date = new Date(cms.newspapers[cms.newspapers.length - 1].date); if (date.isToday()) { %>Today<% } else if (ifYesterday(date)) { %>Yesterday<% } else { %><%= date.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %><% } %></h4>
			</div>
		</a>
		<div class="side">
			<% if (cms.newspapers[cms.newspapers.length - 2]) { %><a href="<%- vars.domain %>/newspapers/<%= cms.newspapers[cms.newspapers.length - 2].slug %>" class="newspaper" <% if (cms.newspapers[cms.newspapers.length - 2].image != null) { %> style="background-image: url('<%= vars.asset_prefix %><%= cms.newspapers[cms.newspapers.length - 2].image.path %>')" <% } %>>
				<div>
					<h2><%= cms.newspapers[cms.newspapers.length - 2].title %></h2>
					<h4><% var date = new Date(cms.newspapers[cms.newspapers.length - 2].date); if (date.isToday()) { %>Today<% } else if (ifYesterday(date)) { %>Yesterday<% } else { %><%= date.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %><% } %></h4>
				</div>
			</a><% } %>
			<% if (cms.newspapers[cms.newspapers.length - 3]) { %><a href="<%- vars.domain %>/newspapers/<%= cms.newspapers[cms.newspapers.length - 3].slug %>" class="newspaper" <% if (cms.newspapers[cms.newspapers.length - 3].image != null) { %> style="background-image: url('<%= vars.asset_prefix %><%= cms.newspapers[cms.newspapers.length - 3].image.path %>')" <% } %>>
				<div>
					<h2><%= cms.newspapers[cms.newspapers.length - 3].title %></h2>
					<h4><% var date = new Date(cms.newspapers[cms.newspapers.length - 3].date); if (date.isToday()) { %>Today<% } else if (ifYesterday(date)) { %>Yesterday<% } else { %><%= date.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %><% } %></h4>
				</div>
			</a><% } %>
		</div>
	</div>
	<div class="articles">
		<h2>Latest Articles</h2>
		<hr>
		<div class="grid">
			<% for (article of cms.articles.sort((a, b) => new Date(b.date) - new Date(a.date))) { %>
			<div class="article" style="<% if (article.images[0] != null) { %>background-image: url('<%- vars.asset_prefix %><%= article.images[0].path %>')<% } else { %>padding-top: unset !important; justify-content: center; height: 100%;<% } %>">
				<div class="inner">
					<a href="<%- vars.domain %>/articles/<%= new Date(article.date).getFullYear() %>/<%= article.slug %>">
						<h3><%= article.title %></h3>
					</a>
					<h4><%= article.description %></h4>
					<p><a href="<%- vars.domain %>/tags/<%= article.tags[0].toLowerCase() %>"><%= article.tags[0] %></a> / <% var date = new Date(article.date); if (date.isToday()) { %>Today<% } else if (ifYesterday(date)) { %>Yesterday<% } else { %><%= date.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %><% } %><% if ((article.author != "") && (article.author != null)) { %> / <%= article.author %><% } %></p>
				</div>
			</div>
			<% } %>
		</div>
	</div>
	<div class="articles">
		<h2>Latest Artwork</h2>
		<hr>
		<div class="grid">
			<% for (artwork of cms.artworks.sort((a, b) => new Date(b.date) - new Date(a.date))) { %>
			<div class="article" style="background-image: url('<%- vars.asset_prefix %><%= artwork.artwork.path %>'); padding-top: 300px;">
				<div class="inner">
					<a href="<%- vars.domain %>/artworks/<%= artwork.slug %>">
						<h3><%= artwork.title %></h3>
					</a>
					<p><a href="<%- vars.domain %>/tags/<%= article.tags[0].toLowerCase() %>"><%= article.tags[0] %></a> / <% var date = new Date(article.date); if (date.isToday()) { %>Today<% } else if (ifYesterday(date)) { %>Yesterday<% } else { %><%= date.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %><% } %><% if ((article.author != "") && (article.author != null)) { %> / <%= article.author %><% } %></p>
				</div>
			</div>
			<% } %>
		</div>
	</div>
	<%- include('../partials/footer.ejs'); %>
</body>
<%- include('../partials/foot.ejs'); %>

</html>