<html>

<head>
	<%- include('../partials/head.ejs'); %>
</head>

<body>
	<%- include('../partials/header.ejs'); %>
	<main class="search<% if (user.name) { %> loggedin <%- user.school.cssColorClass %><% } %>">
		<% if (user.name) { %>
		<div class="banner schoolBackground">
			<i class="fa-solid fa-magnifying-glass"></i>
			<h1>Search results for "<%- query %>"</h1>
			<h3><%- results %> Results</h3>
		</div>
		<% } else { %>
		<div class="banner" style="background-image: url('<%- vars.domain %>/images/south-banner.png');">
			<i class="fa-solid fa-magnifying-glass"></i>
			<h1>Search results for "<%- query %>"</h1>
			<h3><%- results %> Results</h3>
		</div>
		<% } %>
		<div class="content">
			<h3>All Posts</h3>
			<a href="/forum/posts/new"><button><i class="fa-solid fa-pen-to-square"></i> New Post</button></a>
			<div class="posts">
				<%- posts %>
			</div>
			<br />
			<h3>All Comments</h3>
			<br />
			<div class="comments">
				<%- comments %>
			</div>
		</div>
		<%- include('../partials/footer.ejs'); %>
	</main>
</body>
<%- include('../partials/foot.ejs'); %>

</html>