<html>

<head>
	<%- include('../partials/head.ejs'); %>
	<% const filteredArticles = cms.articles.filter(article => {
		const title = article.title.toLowerCase();
		const description = (article.description || "").toLowerCase();
		const content = article.content.toLowerCase();
		return title.includes(query) || description.includes(query) || content.includes(query);
	});
	const filteredNewspapers = cms.newspapers.filter(newspaper => newspaper.title.toLowerCase().includes(query));
	var tags = {};
	for (article of cms.articles) {
		for (tag of article.tags) {
			if (!tags[tag]) {
				tags[tag] = [];
			};
			tags[tag].push(article);
		};
	};
	const filteredTags = Object.keys(tags).filter(tag => tag.toLowerCase().includes(query));
	const filteredPolls = cms.polls.filter(poll => {
		const question = poll.question.toLowerCase();
		const description = poll.description.toLowerCase();
		return question.includes(query) || description.includes(query);
	});
	const filteredArtworks = cms.artworks.filter(artwork => {
		const title = artwork.title.toLowerCase();
		const description = artwork.description.toLowerCase();
		return title.includes(query) || description.includes(query);
	});
	function ifYesterday(date) { 
		var yesterday = new Date();
		yesterday.setDate(yesterday.getDate() - 1);
		return date.toDateString() === yesterday.toDateString();
	}; %>
</head>

<body>
	<%- include('../partials/header.ejs'); %>
	<div class="banner" style="background-image: url('<%- vars.asset_prefix %><%= cms.siteDetails[0].background.path %>');">
		<i class="fa-solid fa-magnifying-glass"></i>
		<h1>Search results for '<%- query %>'</h1>
		<h3><%- filteredArticles.length + filteredNewspapers.length %> Results</h3>
	</div>
	<div class="articles searchResults">
		<div class="grid">
			<% filteredNewspapers.sort((a, b) => b._created - a._created).forEach(newspaper => { %>
			<div class="article" style="background-image: url('<%- vars.asset_prefix %><%= newspaper.image.path %>')">
				<div class="inner">
					<a href="<%- vars.domain %>/newspaper/<%= newspaper.slug %>">
						<h3>Newspaper: <%= newspaper.title %></h3>
					</a>
					<p><% var date = new Date(newspaper.date); if (date.isToday()) { %>Today<% } else if (ifYesterday(date)) { %>Yesterday<% } else { %><%= date.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %><% } %></p>
				</div>
			</div>
			<% }); %>
			<% filteredArticles.sort((a, b) => new Date(b.date) - new Date(a.date)).forEach(article => { %>
			<div class="article"<% if (article.images[0] != null) { %> style="background-image: url('<%- vars.asset_prefix %><%= article.images[0].path %>')"<% } %>>
				<div class="inner">
					<a href="<%- vars.domain %>/articles/<%= article.slug %>">
						<h3>Article: <%= article.title %></h3>
					</a>
					<h4><%= article.description %></h4>
					<p><a href="<%- vars.domain %>/tags/<%= article.tags[0].toLowerCase() %>"><%= article.tags[0] %></a> / <% var date = new Date(article.date); if (date.isToday()) { %>Today<% } else if (ifYesterday(date)) { %>Yesterday<% } else { %><%= date.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %><% } %><% if ((article.author != "") && (article.author != null)) { %> / <%= article.author %><% } %></p>
				</div>
			</div>
			<% }); %>
			<% filteredTags.sort((a, b) => a.localeCompare(b)).forEach(tag => { %>
			<div class="article" style="padding-top: 0px !important;">
				<div class="inner">
					<a href="<%- vars.domain %>/tags/<%= tag %>">
						<h3>Tag: <%= tag %></h3>
					</a>
					<p><%- tags[tag].length %> Article<% if (tags[tag].length != 1) { %>s<% } %></p>
				</div>
			</div>
			<% }); %>
			<% filteredPolls.sort((a, b) => new Date(b.date) - new Date(a.date)).forEach(poll => { %>
			<div class="article" style="padding-top: 0px !important;">
				<div class="inner">
					<a href="<%- vars.domain %>/polls/<%= poll.slug %>">
						<h3>Poll: <%= poll.question %></h3>
					</a>
					<h4><%= poll.description %></h4>
					<p><% var votes = 0; for (response of responses) { if (response.poll_id === poll._id) { votes++ }; }; %><%= votes %> Vote<% if (votes != 1) { %>s<% } %> / <% var date = new Date(poll.date); if (date.isToday()) { %>Today<% } else if (ifYesterday(date)) { %>Yesterday<% } else { %><%= date.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %><% } %></p>
				</div>
			</div>
			<% }); %>
			<% filteredArtworks.sort((a, b) => new Date(b.date) - new Date(a.date)).forEach(artwork => { %>
			<div class="article" style="background-image: url('<%- vars.asset_prefix %><%= artwork.artwork.path %>');">
				<div class="inner">
					<a href="<%- vars.domain %>/artworks/<%= artwork.slug %>">
						<h3>Artwork: <%= artwork.title %></h3>
					</a>
					<p><a href="<%- vars.domain %>/tags/<%= article.tags[0].toLowerCase() %>"><%= article.tags[0] %></a> / <% var date = new Date(article.date); if (date.isToday()) { %>Today<% } else if (ifYesterday(date)) { %>Yesterday<% } else { %><%= date.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %><% } %><% if ((article.author != "") && (article.author != null)) { %> / <%= article.author %><% } %></p>
				</div>
			</div>
			<% }); %>
		</div>
	</div>
	<%- include('../partials/footer.ejs'); %>
</body>
<%- include('../partials/foot.ejs'); %>

</html>