<html>

<head>
	<%- include('../partials/head.ejs'); %>
	<% const filteredArticles = cms.articles.filter(article => {
		return article.tags.includes(tag);
	});
	function ifYesterday(date) { 
		var yesterday = new Date();
		yesterday.setDate(yesterday.getDate() - 1);
		return date.toDateString() === yesterday.toDateString();
	}; %>
</head>

<body>
	<%- include('../partials/header.ejs'); %>
	<div class="banner" style="background-image: url('<%- vars.asset_prefix %><%= cms.siteDetails[0].background.path %>');">
		<i class="fa-solid fa-tag"></i>
		<h1>Articles with tag '<%- tag %>'</h1>
		<h3><%- filteredArticles.length %> Articles</h3>
	</div>
	<div class="articles">
		<div class="grid">
			<% if (filteredArticles.length != 0) { filteredArticles.sort((a, b) => b._created - a._created).forEach(article => { %>
			<div class="article"<% if (article.images[0] != null) { %> style="background-image: url('<%- vars.asset_prefix %><%= article.images[0].path %>')"<% } %>>
				<div class="inner">
					<a href="<%- vars.domain %>/articles/<%= article.slug %>">
						<h3><%= article.title %></h3>
					</a>
					<h4><%= article.description %></h4>
					<p><a href="<%- vars.domain %>/tags/<%= article.tags[0].toLowerCase() %>"><%= article.tags[0] %></a> / <% var date = new Date(article._created * 1000); if (date.isToday()) { %>Today<% } else if (ifYesterday(date)) { %>Yesterday<% } else { %><%= date.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %><% } %></p>
				</div>
			</div>
			<% }); } else { %>No articles found<% } %>
		</div>
	</div>
	<%- include('../partials/footer.ejs'); %>
</body>
<%- include('../partials/foot.ejs'); %>

</html>