<footer style="background-image: url('<%- vars.asset_prefix %><%= cms.siteDetails[0].background.path %>')">
	<div class="inner">
		<div class="top">
			<img src="<%- vars.asset_prefix %><%= cms.siteDetails[0].logo.path %>" alt="<%= cms.siteDetails[0].title %>" />
			<h1>Est. <%= cms.siteDetails[0].est %></h1>
			<div class="links"><%- include('links.ejs') %></div>
		</div>
		<div class="bottom">
			<%- include('socials.ejs') %>
			<p>&copy; <%= cms.siteDetails[0].title %> <%= cms.siteDetails[0].est %> - <%= new Date().getFullYear() %> | <a href="<%- vars.domain %>/admin">Admin<a href="https://dangoweb.com/?from=<%= cms.siteDetails[0].title.toLowerCase().replaceAll(' ', '-') %>" style="display: none;"> (Host)</a></a> | <%- vars.environment.replace(/\w\S*/g, function(txt) { return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase() }) %> Version | <%= pageviews %> Views</p>
		</div>
	</div>
</footer>
<a class="toTop hidden" href="#"><i class="fa-solid fa-chevron-up"></i></a>