<header>
	<% sortedNews = cms.newspapers.sort((a, b) => new Date(b.date) - new Date(a.date)); if (title === sortedNews[0].title) { %>
	<div class="announcement">Latest Newspaper</div>
	<% } else { %>
	<div class="alert"><a href="<%- vars.domain %>/newspapers/<%= sortedNews[0].slug %>" title="Latest Newspaper">Latest — <%= sortedNews[0].title %></a></div>
	<br />
	<br />
	<% } %>
	<div class="socials">
		<%- include('socials.ejs') %>
	</div>
	<div class="main <% if (title === '') { %>home<% } %>">
		<a href="<%- vars.domain %>/" title="Go home" class="logo">
			<img src="<%- vars.asset_prefix %><%= cms.siteDetails[0].logo.path %>" alt="<%= cms.siteDetails[0].title %>">
			<h2><%= cms.siteDetails[0].title %></h2>
		</a>
		<div class="links">
			<%- include('links.ejs') %>
		</div>
		<div class="search">
			<img src="<%- vars.domain %>/images/search.svg" alt="Search" onClick="document.querySelector('.search').classList.toggle('active'); document.querySelector('.search form input').focus();">
			<form action="/search">
				<input type="text" placeholder="Search" name="query">
			</form>
		</div>
	</div>
</header>
<div class="pcontent">