<header>
	<% sortedNews = cms.newspapers.sort((a, b) => new Date(b.date) - new Date(a.date)); if (title === sortedNews[0].title) { %>
	<div class="announcement">Latest Newspaper</div>
	<% } else { %>
	<div class="alert"><a href="<%- vars.domain %>/newspapers/<%= sortedNews[0].slug %>" title="Latest Newspaper">Latest — <%= sortedNews[0].title %></a></div>
	<br />
	<br />
	<% } %>
	<div class="socials">
		<%- include('socials.ejs') %>
	</div>
	<div class="main <% if (title === '') { %>home<% } %>">
		<a href="<%- vars.domain %>/" title="Go home" class="logo">
			<img src="<%- vars.asset_prefix %><%= cms.siteDetails[0].logo.path %>" alt="<%= cms.siteDetails[0].title %>">
			<h2><%= cms.siteDetails[0].title %></h2>
		</a>
		<div class="links">
			<%- include('links.ejs') %>
		</div>
		<div class="search" onmouseover="document.querySelector('.search').classList.add('active'); document.querySelector('.search form input').focus();" onmouseleave="document.querySelector('.search').classList.remove('active');">
			<img src="<%- vars.domain %>/images/search.svg" alt="Search">
			<form action="/search">
				<input type="text" placeholder="Search" name="query">
			</form>
		</div>
		<div class="widget" widgetId="1">
			<h1>📅</h1>
			<div class="inner">
				<% weekday = (new Date()).toLocaleDateString('en-US', { timeZone: 'America/New_York', weekday: 'long' }) %>
				<% month = (new Date()).toLocaleDateString('en-US', { timeZone: 'America/New_York', month: 'short' }) %>
				<% day = (new Date()).toLocaleDateString('en-US', { timeZone: 'America/New_York', day: 'numeric' }) %>
				<% ordinal = (day === 1 || day === 21 || day === 31) ? 'st' : (day === 2 || day === 22) ? 'nd' : (day === 3 || day === 23) ? 'rd' : 'th' %>
				<h2><%= weekday %>, <%= month %>. <%= day %><%= ordinal %></h2>
				<% if (weekday === 'Thursday') { %><h5>Weekly Meeting @ 3:15, Rm. 213</h5><% } %>
			</div>
		</div>
		<div class="widget" widgetId="2">
			<h1>X</h1>
			<div class="inner">
				<% weekday = (new Date()).toLocaleDateString('en-US', { timeZone: 'America/New_York', weekday: 'long' }) %>
				<% month = (new Date()).toLocaleDateString('en-US', { timeZone: 'America/New_York', month: 'short' }) %>
				<% day = (new Date()).toLocaleDateString('en-US', { timeZone: 'America/New_York', day: 'numeric' }) %>
				<% ordinal = (day === 1 || day === 21 || day === 31) ? 'st' : (day === 2 || day === 22) ? 'nd' : (day === 3 || day === 23) ? 'rd' : 'th' %>
				<h2><%= weekday %>, <%= month %>. <%= day %><%= ordinal %></h2>
				<% if (weekday === 'Thursday') { %><h5>Weekly Meeting @ 3:15, Rm. 213</h5><% } %>
			</div>
		</div>
	</div>
</header>
<div class="pcontent">