<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="<%- vars.asset_prefix %><%= cms.siteDetails[0].favicon.path %>">
<title><% if (title != '') { %><%- title %> | <% } %><%= cms.siteDetails[0].title %></title>
<meta name="title" content="<% if (title != '') { %><%- title %> | <% } %><%= cms.siteDetails[0].title %>" />
<meta name="description" content="<%= cms.siteDetails[0].description %>" />
<meta name="theme-color" content="<%=cms.siteDetails[0].color %>">
<meta name="apple-mobile-web-app-status-bar-style" content="<%=cms.siteDetails[0].color %>">
<meta name="msapplication-navbutton-color" content="<%=cms.siteDetails[0].color %>">
<meta property="og:type" content="website" />
<meta property="og:url" content="<%- vars.domain %>" />
<meta property="og:title" content="<% if (title != '') { %><%- title %> | <% } %><%= cms.siteDetails[0].title %>" />
<meta property="og:description" content="<%= cms.siteDetails[0].description %>" />
<meta property="og:image" content="<%- vars.asset_prefix %><%= cms.siteDetails[0]['meta-background'].path %>" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="<%- vars.domain %>" />
<meta property="twitter:title" content="<% if (title != '') { %><%- title %> | <% } %><%= cms.siteDetails[0].title %>" />
<meta property="twitter:description" content="<%= cms.siteDetails[0].description %>" />
<meta property="twitter:image" content="<%- vars.asset_prefix %><%= cms.siteDetails[0]['meta-background'].path %>" />
<style>
	:root {
		--theme: <%=cms.siteDetails[0].color %>;
		--noise: url('<%- vars.asset_prefix %><%= cms.siteDetails[0].noise.path %>');
	}
</style>
<style>
	<%- cms.layouts.find(layout=> layout.name==="Hero").css %>
</style>
<style>
	<%- cms.layouts.find(layout=> layout.name==="Articles").css %>
</style>
<link rel="stylesheet" href="<%- vars.domain %>/css/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VB8PCR81YJ"></script>
<script>
	window.dataLayer = window.dataLayer || [];

	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	gtag('config', 'G-VB8PCR81YJ');
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.css" integrity="sha512-Woz+DqWYJ51bpVk5Fv0yES/edIMXjj3Ynda+KWTIkGoynAMHrqTcDUQltbipuiaD5ymEo9520lyoVOo9jCQOCA==" crossorigin="anonymous" referrerpolicy="no-referrer" />