<header>
	<div class="announcement">
		<a href="<%- vars.domain %>/newspapers/<%= cms.newspapers[cms.newspapers.length - 1].slug %>">Latest Newspaper</a>
	</div>
	<div class="main">
		<a href="<%- vars.domain %>/">
			<img src="<%- vars.asset_prefix %><%= cms.siteDetails[0].logo.path %>" alt="<%= cms.siteDetails[0].title %>">
		</a>
		<div class="links">
			<%- include('links.ejs') %>
		</div>
		<div class="search">
			<img src="<%- vars.domain %>/images/search.svg" alt="Search" onClick="document.querySelector('.search').classList.toggle('active'); document.querySelector('.search form input').focus();">
			<form action="/search">
				<input type="text" placeholder="Search" name="query">
			</form>
		</div>
	</div>
</header>