<% var currentSlug = (article || []).slug;
function ifYesterday(date) { 
	var yesterday = new Date();
	yesterday.setDate(yesterday.getDate() - 1);
	return date.toDateString() === yesterday.toDateString();
}; %>
<div class="articles">
	<h2>Suggested articles</h2>
	<div class="grid">
		<% for (article of cms.articles.filter(a => a.slug !== currentSlug).sort(() => Math.random() - 0.5).slice(0, 3)) { %>
		<div class="article" <% if (article.images[0] != null) { %> style="background-image: url('<%- vars.asset_prefix %><%= article.images[0].path %>')" <% } %>>
			<div class="inner">
				<a href="<%- vars.domain %>/articles/<%= new Date(article.date).getFullYear() %>/<%= article.slug %>">
					<h3><%= article.title %></h3>
				</a>
				<h4><%= article.description %></h4>
				<p><a href="<%- vars.domain %>/tags/<%= article.tags[0].toLowerCase() %>"><%= article.tags[0] %></a> / <% var date = new Date(article.date); if (date.isToday()) { %>Today<% } else if (ifYesterday(date)) { %>Yesterday<% } else { %><%= date.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %><% } %><% if ((article.author != "") && (article.author != null)) { %> / <%= article.author %><% } %></p>
			</div>
		</div>
		<% } %>
	</div>
</div>